<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display Blockchain</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <style>
        body {
            background-image: url('https://img.freepik.com/premium-photo/purple-blockchain-3d-abstract-modern-background_893571-5821.jpg');
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
        }
    </style>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body text-center">
                        <h1 class="card-title mb-4">Blockchain Information</h1>
                        <button id="showBlockchain" class="btn btn-primary mb-3">Show Blockchain</button>
                        <div id="blockchainContainer" class="mt-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/script.js"></script>
</body>
</html>
